<configuration>
    <packageSources>    
        <clear />
        <add key="AlbanianXrm.CDSProj.Sdk" value="..\AlbanianXrm.CDSProj.Sdk\AlbanianXrm.CDSProj.Sdk\package\debug" />
        <add key="AlbanianXrm.CDSProj.Sdk.Unix" value="../AlbanianXrm.CDSProj.Sdk/AlbanianXrm.CDSProj.Sdk/package/debug" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
</configuration>