<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
        <add key="AlbanianXrm.CDSProj.Sdk" value="../AlbanianXrm.CDSProj.Sdk/bin/Release" />
        <add key="AlbanianXrm.PCFProj.Sdk" value="../AlbanianXrm.PCFProj.Sdk/bin/Release" />
        <add key="AlbanianXrm.WebProj.Sdk" value="../AlbanianXrm.WebProj.Sdk/bin/Release" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
   <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="AlbanianXrm.CDSProj.Sdk">
            <package pattern="AlbanianXrm.CDSProj.Sdk" />
        </packageSource>
        <packageSource key="AlbanianXrm.PCFProj.Sdk">
            <package pattern="AlbanianXrm.PCFProj.Sdk" />
        </packageSource>
         <packageSource key="AlbanianXrm.WebProj.Sdk">
            <package pattern="AlbanianXrm.WebProj.Sdk" />
        </packageSource>
    </packageSourceMapping>
</configuration>
